configuration {
	kb-element-next: "";
  kb-mode-next: "Tab";
  kb-mode-previous: "Ctrl+Tab";

  timeout {
      action: "kb-cancel";
      delay:  0;
  }

  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "~/.config/rofi/current.rasi"
