/**
 * rofi -dump-theme output.
 * Base color: #1f1f1f
 **/

* {
    text-color:       var(fg0);

    /* Foregrounds */
    fg3:              rgba ( 130, 130, 130, 100 % );   /* placeholder */
    fg2:              rgba ( 200, 200, 200, 100 % );   /* prompt */
    fg1:              rgba ( 235, 235, 235, 100 % );   /* primary text */
    fg0:              rgba ( 220, 220, 220, 100 % );   /* default text */

    /* Backgrounds */
    bg3:              rgba ( 221, 221, 221, 100 % );   /* #dddddd selection */
    bg2:              rgba ( 255, 255, 255, 6 % );     /* subtle message */
    bg1:              rgba ( 40, 40, 40, 100 % );      /* input bar */
    bg0:              rgba ( 31, 31, 31, 100 % );      /* #1f1f1f base */

    font:             "Roboto 12";
    background-color: transparent;
    spacing:          0px;
    padding:          0px;
    margin:           0px;
}

window {
    width:            480;
    background-color: var(bg0);
    location:         north;
    y-offset:         calc( ( 50.0000% - 176px ));
    border-radius:    10px;
}

mainbox {
    padding: 12px;
}

inputbar {
    padding:          8px 16px;
    background-color: var(bg1);
    border:           2px;
    border-color:     var(bg3);
    spacing:          8px;
    border-radius:    10px;
    children:         [ "prompt", "entry" ];
}

prompt {
    text-color: var(fg2);
}

entry {
    placeholder:       "Search";
    placeholder-color: var(fg3);
}

message {
    margin:           12px 0px 0px;
    background-color: var(bg2);
    border-color:     var(bg2);
    border-radius:    10px;
}

textbox {
    padding: 8px 24px;
}

listview {
    background-color: transparent;
    margin:           12px 0px 0px;
    columns:          1;
    lines:            8;
    fixed-height:     false;
}

element {
    padding:       8px 16px;
    spacing:       8px;
    border-radius: 10px;
}

element normal.active {
    text-color: var(fg1);
}

element alternate.active {
    text-color: var(fg1);
}

element selected {
    text-color: var(bg0);
}

element selected.normal {
    background-color: var(bg3);
}

element selected.active {
    background-color: var(bg3);
}

element-icon {
    size:           1.0em;
    vertical-align: 0.50;
}

element-text {
    text-color: inherit;
}

