* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font", monospace;
  min-height: 0;
  padding: 0;
}

window#waybar {
  background: #1f1f1f;
  color: #dddddd;
}

/* Workspaces */
#workspaces {
  padding: 0 10px;
}

#workspaces button {
  font-size: 16px;
  font-weight: 600;
  padding: 0 4px;
  color: #dddddd;
}

#workspaces button.active {
  /* Placeholder */
}

#workspaces button:hover {
  background: #1f1f1f;
}

/* Center clock */
#clock {
  padding: 0 12px;
  font-weight: bold;
  font-size: 12px;
}

/* Right modules */
#pulseaudio,
#network,
#battery,
#tray {
  font-size: 12px;
  padding-right: 20px;
}

#battery.charging {
  color: #a6e3a1;
}

#battery.warning {
  color: #f9e2af;
}

#battery.critical {
  color: #f38ba8;
}

